<%- include ('partials/loginheader') %>

<script>

	var show_id = null;
	$(document).ready(function(){
	$('#timing').on('change', function() {
  			
  			fetchMovieShows();
});



});

	$(document).ready(function(e){
	
		$('#addcart').click(function(){

			if(show_id == null){
				e.preventDefault();
				alert('Show not selected');
			}

			var qty = $('#qvalue').val();
			var showDate = $('#showDate').val();
			if(qty == null || qty == 0 || showDate == null){
				e.preventDefault();
				alert('Select the Date/Quantity');
			}

			$.ajax({

				url:'/user/cart',
				type: 'POST',
				data:{"qty" : qty,"showid":show_id,"showdate":showDate},
				success : function(data){
					alert('Successfully added to cart');
					window.location.pathname = "home";
				}

			})


		});



});

function fetchMovieShows(){
	var selectedTiming = $('#timing').val();

  			if(selectedTiming != "none"){
  				$('#showCapacity').empty();
  				$('#availableSeats').empty();
  				$('#screen').empty();
  				$('#price').empty();

  				$.ajax({

  					url:'/movies/movieshows',
					type:'GET',
					data: {"movieid": <%- JSON.stringify(movie._id) %>,"timing":selectedTiming},
					success: function(data){
						$('#showCapacity').append('Capacity :' + data['capacity']);
						$('#availableSeats').append('Available seats :' + data['totalAvailableSeats']);
						$('#screen').append('Screen :' + data['screenNo']);
						$('#price').append('Price : $' + data['price']);
						show_id = data['_id'];
					},
					error:function(error){
						window.location.pathname = "invaliduser";
					}


  				});
  			}
}

$(document).ready(function(){

	$('#deletemovie').click(function(e){

		var proceed = confirm("Do you want to delete the movie");
		if(proceed){
			$.ajax({

				url:'/admin/deletemovie/'+<%- JSON.stringify(movie._id) %>,
				type:'POST',
				data:{},
				success:function(data){
					alert('Movie was successfully deleted');
					window.location.href='/home';
				}
			});
		}

	})


})
</script>

<div class="container" id="mysynp">


<p><img src="/images/<%= movie.image %>" style="width:300px; height:300px" /></p>
<p>Title : <%= movie.title %></p>
<p>Genre : <%= movie.genre %></p>
<p>Synopsis : <%= movie.synopsys %></p>
<p>Length : <%= movie.length%></p>
<p>Available Until(every day) : <%= movie.availableUntil%> </p>
<p>Select Date : <input type="date" id="showDate" /></p>

<p>Timings : 

<select name="timing" id="timing">
	<option value="none" selected> Select a timing </option>
	<% for (var i=1;i <= Object.keys(movie.showTimings).length; i++) { %>
	<option value="<%= movie.showTimings[i]%>"><%= movie.showTimings[i]%></option>
	<% } %>
</select>
	
	</p>

<p id="showCapacity"></p>
<p id="availableSeats"></p>
<p id="screen"></p>
<p id="price"></p>
<p id="quantity">Quantity : <input type=text id="qvalue" /></p>

<input type="button" id="addcart" class="btn btn-warning"  role="button" value="Add to cart"></input>
</form>

<% if(type == 'A') {%>
<a href="/admin/addshow/<%= movie._id%>"><input type="button" id="addshow" class="btn btn-warning"  role="button" value="Add Show for this movie"></input></a>
<a href="/admin/movieupdate/<%= movie._id%>"><input type="button" id="updatemovie" class="btn btn-warning"  role="button" value="Update Movie"></input></a>
<input type="button" id="deletemovie" class="btn btn-warning"  role="button" value="Delete Movie"></input>
<% } %>

<p><a href="/home">Back to list</a></p>

</div>
</div>


<%- include ('partials/footer') %>